body{
    height: 839px;
}
.imagem-forca {
    width: 400px;
    height: 466.67px;
    position: absolute;
    top: 59px;
    left: 38px;
}

.imagem-forca img{
    width: 100%;
    height: 100%;
}

.botao {
    width: 200px;
    height: 60px;
    background-color: #27AE60;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 89px;
    right: 53px;
}

.botao,
.letra {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
}

.letra {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 19px;
    color: #798A9F;
    background-color: #9FAAB5;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 11px;
    margin-bottom: 11px;
}

.container-letras{
    height: 112px;
    width: 663px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 550px;
    left: 211px;
}

.div-letras {
    width: 280px;
    height: 100px;
    position: absolute;
    top: 431px;
    right: 61px;
    display: flex;
}

.cada-letra{
    
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    margin-right: 10px;
    
}
